<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDs-FSE_jOLxOP8dqkJu3GnScgGX1qqNxE</string>
	<key>GCM_SENDER_ID</key>
	<string>532752559688</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.praticare</string>
	<key>PROJECT_ID</key>
	<string>praticare-fd7f8</string>
	<key>STORAGE_BUCKET</key>
	<string>praticare-fd7f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:532752559688:ios:51b4e479647ee012af727d</string>
	<key>DATABASE_URL</key>
	<string>https://praticare-fd7f8-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>